.formContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px !important;
  height: 64;
  width: 100%;
}

.subContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 64;
  width: 100%;
}

.subContainerTitle {
  margin: 0;
  display: flex;
  align-items: center;
}
